

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: #E4E7EA;
}
footer {
	text-align: center;
	margin-top: 50px;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #888;
}
.submit-addon .glyphicon {
	position: absolute;
  	padding: 10px;
  	pointer-events: none;
  	color: #888;
  	z-index: 999;
}
.submit-addon .glyphicon { right: 185px; }
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#form-login input.btn {
	border: 1px solid rgba(0,0,0,.06);
	text-shadow: 0 1px 0 #fff;
	background: #f5f5f5;
	border-radius: 4px;
	color: #888;	
}

#form-login input.btn:hover {
	background: #fff;
}
.form-wrapper{
	margin: 50px 0px;
}

.form-panel-box {
  padding: 15px;
  background: #fafafa;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 45%;
  margin: auto;
}
.logo-wrapper {
	text-align: center;
	margin: 20px;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #1D2939;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
/*  padding-right: 20px;
  padding-left: 20px;*/
    color: #8F939E;
  padding: 5px 8px;
  display: block;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


.breadcrumbs h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.breadcrumbs {
  background: #F7F7F7;
  border-bottom: 1px solid #D3D7DB;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.section-wrapper {
  padding: 10px;
  background-color: #fff;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}